@import '../../../variables.scss';

.footer__social{
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
}

.social__item{
    margin: 0 10px;
    &:last-child{
        margin-right: 0;
    }
    &__link{
        font-size: 2.5em;
        color: $bold-grey;
        text-decoration: none;
        transition: all .2s ease-in-out;
    }
}

.twitter a:hover{
    color: $light-blue;
}

.facebook a:hover{
    color: $deep-blue;
}

.instagram a:hover{
    color: $red;
}

.github a:hover{
    color: $heavy-grey;
}
