$hero_image: "https://aceleradev-react.netlify.com/aula-01/public/img/capa-madmax2.jpg";
@import '../../variables.scss';

.hero {
    background-attachment: fixed;
    background-image: url("https://i.ibb.co/wcCcdkS/capa-madmax.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 90vh;
	justify-content: space-between;
	padding: 20px;
	position: relative;
    width: 100%;
    &:after{
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 212, 255, 0) 75%
        );
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}